/* under: 1920x1080 全体のうち、左下 960x70 + 右下 960x70 */

:root {
  font-family: "vdl-gigag", "Noto Sans JP";
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  /* letter-spacing: -0.1em; */
  /* text-shadow: #000000 0 1px 5px, #000000 0 2px 10px; */
}

.under-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  display: flex;
  pointer-events: none;
}

.under-slot {
  position: absolute;
  bottom: 0;
  width: 960px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.under-alpha {
  left: 0;
  filter: url(#shadow-alpha);
}

.under-bravo {
  right: 0;
  filter: url(#shadow-bravo);
}

/* チーム名とプレイヤー名 1:1 比率 */
.under-team-name {
  font-size: 26px;
  line-height: 0.9;
}

.under-players {
  font-size: 30px;
  line-height: 1.4;
}
